bao-baremetal-guest/build/
bao-hypervisor/build/
bao-hypervisor/bin/
bao-hypervisor/.git/
bao-hypervisor/.vscode/
opensbi/build/
opensbi/.git/
bitstream/

linux_image/
.vscode/
*.bin
*.elf
*.d
*.o
bao-hypervisor/configs/alsaqr-baremetal/config.S
bao-hypervisor/configs/alsaqr-linux/config.S
/fw_payload.elf
*.debug
bao_vcu118_v2.code-workspace
bao.asm
baremetal.asm
zcu102-zynqmp/bao.img
output.txt
bao.img
*.asm
results/*
*.png

output2.txt
